body {
   	background:#00CED1;
   	overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#container {
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -60px;
  margin-top: -80px;
}

#ghost {
    margin: 10% auto;
    width: 80%;
    height: 80%;
    animation: updown 3s infinite;
}
#ghost #body {
    position: relative;
    margin: 50px auto 0;
    width: 180px;
    height: 220px;
    background: white;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
}

#ghost #body:before,
#ghost #body:after {
    content: '';
    position: absolute;
    top: 130px;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: white;
    animation: updown .3s infinite;
}

#ghost #body:before {
    left: -18px;
}

#ghost #body:after {
    right: -18px;
}

#ghost #body #eyes {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 90px 0 0;
    width: 90px;
    height: 20px;
}


#ghost #body #eyes:before,
#ghost #body #eyes:after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 50%;
}


#ghost #body #mouth {
    background: black;
    margin: 25px auto 0;
    width: 60px;
    height: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}


#ghost #body #feet {
    position: absolute;
    display: flex;
    bottom: -8px;
    width: 180px;
    height: 36px;
}

#ghost #body #feet:before,
#ghost #body #feet:after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 36px;
    height: 56px;
    border-radius: 50%;
    background: white;
    animation: updown .3s infinite;
}

#ghost #body #feet:before {
    left: 5px;
}

#ghost #body #feet:after {
    right: 5px;
}



@keyframes updown {
  50% {
     transform: translateY(20px);
  }
}

.shadowframe {
  width: 230px;
  margin-top: 15px;
}
.shadow {
  animation: shrink 3s infinite;
  transform-origin: center center;
}

@keyframes shrink {
  0% {
    width: 90%;
    margin: 0 5%;
  }
  50% {
    width: 60%;
    margin: 0 20%;
  }
  100% {
    width: 90%;
    margin: 0 5%;
  }
}